@model OutilSrum.Models.User

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Index";
}

<!--Login-->
<div id="id01" class="modal">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/templateOne/logo.png" alt="Avatar" class="avatar">
            </div>

            <div class="containerPopup">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


                @Html.LabelFor(model => model.LastName)
                @Html.PasswordFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Mot de passe" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

            </div>

            <div class="containerFooter" style="background-color:#f1f1f1">
                <input type="submit" value="Login" class="btn btn-success" />
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    }
</div>
<!--end login-->
<!--inscription-->
<section id="inscription">
    <br /><br /><br /><br /><br /><br />
    <div class="offset-md-1 col-md-6">
        <h1 class="h11">Inscrivez-vous</h1>
    </div>
    <form class="form-group" method="post" action="#">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Nom</b></label>
                <input type="text" placeholder="votre nom" name="uname" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Prénom</b></label>
                <input type="text" placeholder="votre prénom" name="uname" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Login</b></label>
                <input type="text" placeholder="Enter Username" name="login" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Mot de passe</b></label>
                <input type="password" placeholder="mot de passe" name="uname" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Ressaisir le mot de passe</b></label>
                <input type="password" placeholder="mot de passe" name="uname" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Email</b></label>
                <input type="email" placeholder="adresse mail" name="uname" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Ville</b></label>
                <select name="ville" required class="form-control">
                    <option>Safi</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <label for="uname"><b>Téléphone</b></label>
                <input type="number" placeholder="numéro de téléphone" name="uname" required class="form-control" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <button type="submit" name="submin" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
</section>
<br /><br /><br /><br /><br /><br /><br />
<!--end inscription-->